<div *ngIf="isLoading" class="loading">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>
<div class="container">
    <div class="row">
        <div class="card" *ngFor="let pokemon of paginatedPokemons">
            <a [routerLink]="['/pokemon-detail', pokemon.id]">
                <img class="card-img-top" [src]="pokemon.sprites.other.dream_world.front_default" alt="{{ pokemon.name }}"/>
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.id }} - {{ pokemon.name | titlecase }}</h5>
                </div>
            </a>    
        </div>
    </div>
</div>
<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
