.main{
  padding: 200px 10px 100px 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: white;
}

.card {
  border-radius: 40px;
  border: 1px solid white;
  text-align: center;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 0px 10px 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: var(--color-2);
    border: 1px solid var(--color-3);
    transform: scale(1.1);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

img {
  height: 60px;
  transition: transform 0.3s ease;
  &:hover{
    transform: scale(1.8);
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 1%;
  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
  }
}
