<!-- <div class="container">
    <div class="pokemon-detail">
      <img [src]="pokemon.sprites.other.dream_world.front_default" alt="{{ pokemon.name }}"/>
      <h1>{{ pokemon.name | titlecase }}</h1>
      <p><strong>ID:</strong> {{ pokemon.id }}</p>
      <p><strong>Height:</strong> {{ pokemon.height }}</p>
      <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      <h2>Abilities:</h2>
      <ul>
        <li *ngFor="let ability of pokemon.abilities">{{ ability.ability.name | titlecase }}</li>
      </ul>
    </div>
  </div>
   -->
   <img src="" alt="">