<div class="container">
  <img src="../../../assets/images/profile.png" alt="Imagen de perfil" />
  <h1>Adrián CA</h1>
  <p>
    Soy FullStack developer con background de más de 8 años en Administración de
    Sistemas (IT). Actualmente estoy cursando un Bootcamp de programación y
    formándome continuamente para crecer profesionalmente día a día.
  </p>
  <p>
    Junior FullStack Developer 💻 @Student & Freelance | Javascript (Node,
    React, Angular) | PHP & Learning everyday🧑‍🎓
  </p>
  <ul>
    <li>
      <a href="ruta_de_github" target="_blank"
        ><img src="ruta_de_la_imagen_de_GitHub.jpg" alt="GitHub"
      /></a>
    </li>
    <li>
      <a href="ruta_de_linkedin" target="_blank"
        ><img src="ruta_de_la_imagen_de_LinkedIn.jpg" alt="LinkedIn"
      /></a>
    </li>
  </ul>
</div>
