.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 7% 7% 7% 7%;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.content-body {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin-top: 20px;
}

h1,
p {
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-right: 20px;
}

a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

a img:hover {
  transform: scale(1.1);
}

.bold{
  font-weight: bolder;
}