$primary-color: #0d0d0d;
$secondary-color: #FFCC00;


:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: $primary-color;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    a {
      display: inline-block;
      margin: 0 10px;

      .logo {
        width: 50px; 
        height: 50px; 
        &__linkedin{
          width: 40px; 
          height: 40px; 
        }
      }
    }

    a.copy {
      color: #fff;
      text-decoration: none;
    }

    a.copy:hover {
      text-decoration: none;
    }

    a.copy:active,
    a.copy:focus {
      text-decoration: none;
      outline: none;
    }
  }
}
