<footer class="footer-container">
    <div>
      <a href="https://github.com/adriandearias" target="_blank">
        <img class="logo" src="../../../../assets/images/github.png" alt="GitHub">
      </a>
      <a href="https://linkedin.com/in/adriandearias" target="_blank">
        <img class="logo__linkedin" src="../../../../assets/images/Logo-Linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://linkedin.com/in/adriandearias" target="_blank" class="copy">@adriandearias</a>
    </div>
  </footer>