<div class="intro-container">
    <h1 class="intro-title">¡Bienvenid@ a mi proyecto creado con Angular!</h1>
    <p class="intro-description">En esta aplicación, he utilizado la API de PokeAPI para obtener datos de los Pokémon y mostrarlos en mi aplicación. He creado diferentes componentes y servicios para lograr varias funcionalidades.</p>
    <p class="intro-description">La página "Pokemons" muestra una lista de Pokémon obtenidos de la PokeAPI. Además, implementé la paginación para mostrar un máximo de 25 Pokémon por página.</p>
    <p class="intro-description">También he creado un componente llamado "Create My Team" que permite a los usuarios seleccionar entre todos los Pokémon disponibles para crear su propio equipo de 6 Pokémon. Los usuarios también pueden eliminar y modificar los Pokémon en su equipo. Utilizo un pipe de Angular para filtrar los Pokémon por nombre. </p>
    <p class="intro-description">En resumen, mi aplicación utiliza Angular para interactuar con la API de PokeAPI, mostrar y filtrar Pokémon, y permitir a los usuarios crear y gestionar sus propios equipos de Pokémon. ¡Espero que disfrutes explorando el maravilloso mundo de los Pokémon en mi aplicación!</p>
    <p class="intro-description red bold">TODO -> Quedaría pendiente:</p>
    <ul>
      <li class="red">Pasar el css a scss de toda la app</li>
      <li class="red">Resolvers</li>
      <li class="red">Añadir backend con Node para login de Usuario y poder guardar los equipos</li>
    </ul>
  </div>
  