.intro-container {
    padding-top: 7%;
    padding-bottom: 7%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .intro-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .intro-description {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  